<!DOCTYPE html>
<html>
<head>
    <title>Transação Concluída!</title>
</head>
<body>
    <center>
        <h1>Olá {{ name }}, confirmação de transação!</h1>
        <h2>Valor: R$ {{ ammount }}</h2>
        <h2>Beneficiário: {{ payee }}</h2>
    </center>
</body>
</html>